@import "./normalize";

body {
    background-color: #000000;
}

.slides {
    display: flex;
    margin: auto;
    width: 1000px;
    overflow: hidden;
}

.carosuel {
    position: relative;
   
        .sliders {
            .next {
                top: 50%;
                left: 70%;
            }
        
            .prev {
                left: 25%;
                top: 50%;
            }
        
            .next,
            .prev {
            position: absolute;
            border: none;
            background: none;
            color: #ffffff;
            font-size: 120px;
            font-weight: bold;
        }
    }

    .dots {
        position: absolute;
        display: flex;
        top: 95%;
        left: 47%;
    }

    .dot {
        margin: 10px;
        width: 20px;
        height: 20px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        background: none;
    
        &:first-of-type {
            margin-left: 0;
        }
    }

    .active {
        background-color: #ffffff;
    }
}

